.test-container {
    background-color: #ffffff;
    margin: 64ox 0;
    width: 80%;
    min-height: 75px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),0 1px 3px rgba(0, 0, 0, 0.26);
    margin-left: 10%;
}

.try-again-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}